
/* GECE MODU MAVİ VURGULU */

body {
  background-color: #0d1117;
  color: #ffffff;
}

header, .slider-container {
  background-color: #161b22;
}

.izle-btn {
  background-color: #3498db;
}

.izle-btn:hover {
  background-color: #5dade2;
}

.filter-item select,
.search-container input {
  background-color: #1f2733;
  color: #fff;
  border: 1px solid #3498db;
}

.swiper-slide {
  background: #1f2733;
}

.film-kart {
  background: #1e2a38;
  border: 1px solid #2c3e50;
}

.film-kart h3,
.film-kart .imdb {
  color: #ffffff;
}
