
body {
  font-family: Arial;
  background: #111;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.film-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.film-kart {
  background: #222;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
}
.film-kart img {
  width: 100%;
  border-radius: 8px;
}
.film-kart button {
  margin-top: 10px;
  background: #e50914;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* Lightbox */
.lightbox-player {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
}
.lightbox-content {
  position: relative;
  margin: auto;
  width: 90%;
  max-width: 800px;
}
.lightbox-close {
  color: #fff;
  position: absolute;
  top: -40px;
  right: 0;
  font-size: 40px;
  cursor: pointer;
}
.lightbox-player iframe {
  width: 100%;
  height: 450px;
  border: none;
}

body {
  font-family: Arial;
  background: #111;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.film-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.film-kart {
  background: #222;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
}
.film-kart img {
  width: 100%;
  border-radius: 8px;
}
.film-kart h3 {
  margin: 10px 0 5px;
}
.film-kart .imdb {
  color: gold;
}
.film-kart button {
  margin-top: 10px;
  background: #e50914;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* Slayt Alanı */
.slayt-wrapper {
  overflow: hidden;
  margin: 30px auto;
  max-width: 1000px;
  border: 3px solid #e50914;
  border-radius: 10px;
}
.slayt-alani {
  display: flex;
  animation: kaydir 25s linear infinite;
}
.slayt-alani img {
  height: 300px;
  margin-right: 10px;
  border-radius: 8px;
}

@keyframes kaydir {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}


.film-kart div {
  margin-top: 4px;
  font-size: 14px;
  color: #ccc;
}
